<div class="text-center">
  <%= image_tag "pandoras_hope_chest_logo.png" %>
</div>

<hr>

<p>Pandora's Hope Chest is not a FamilySearch certified affiliate and only works with the Chrome browser.  This program is available through Google and can be downloaded to individual computers as a google extension.  Once downloaded as an extension, Pandora's Hope Chest appears over the top of the FamilySearch program and may interfere with the functionality and appearance of the FamilySearch screen.</p>

<p>Pandora's Hope Chest searches an individual's FamilyTree for green arrows.  The Hope Chest does nothing to accurately identify whether the green arrows are legitimate or simply the result of unmerged duplicate records.  Furthermore, the program does not verify that the user is related to the individuals it finds in FamilyTree.  The program also tends to identify records that require more research and are not immediately ready for submission.</p>

<p>Users must be very careful when using this extension to FamilyTree, and it is not recommended for novices.  The Hope Chest specifically contains this message:  "Please note:  There is no guarantee that this information is accurate.  It is your responsiblity to verify before submitting to the temple.  This tool is not intended to be a replacement for diligent and thoughtful genealogical research.  You may find this presentation helpful (<a href="http://www.slideshare.net/cathyanderegg/very-very-newest-best-why-clean-ft-duplicates/" target="_blank">click here</a>).</p>

<p>Note that FamilyTree already contains a function that will hunt for green arrows within the first four generations of the Tree.  This search is specifically limited to the first four generations because the accuracy of the tree tends to decrease beyond that point.  This search can be performed by clicking on the word "Temple" that appears at the top of the FamilyTree screen, then selecting "Opportunities" from the drop down list.</p>

<p>While Pandora's Hope Chest does point out the green arrows within the tree, it is important to note that the large majority of these green arrows represent individuals who have duplicates in FamilyTree.  When these duplicates are combined, the green arrow disappears.  Pandora's Hope Chest can be helpful in finding green arrows that need to be merged with their duplicates.  Pandora's Hope Chest is better used as a tool to clean up a tree than a tool to locate temple work.  It is also important to recognize, also, that not all duplicates that exist in LDS records are currently visible in FamilyTree.  Many records have been incorrectly combined in NewFamilySearch and cannot currently be viewed in FamilyTree.  Here is a link to a presentation that can be helpful for instructions on locating duplicates within FamilyTree (<a href="http://prezi.com/mi3msl-s-2ek/searching-for-duplicates/" target="_blank">click here</a>).  Remember too that duplicates are best located when an individual record has been thoroughly filled in with full name, birth date and location, death date and location, and parent and spouse relationships.</p>

<p>According to LDS Church policy, "Members should be diligent in assuring the accuracy of all information submitted" (First Presidency, June 1995). The First Presidency ( February 2012) has also stated.  "Those whose names are submitted for proxy temple ordinances should be related to the submitter."</p>

<p>To download Pandora's Hope Chest:</p>
<ul>
  <li>Open Chrome – go to <a href="https://chrome.google.com/webstore/detail/pandoras-hope-chest/gjneklbanpnnjdeddbnkkgeljkhpblhp?hl=en">https://chrome.google.com/webstore/detail/pandoras-hope-chest/gjneklbanpnnjdeddbnkkgeljkhpblhp?hl=en</a></li>
  <li>Click on “+ Free” and follow prompts to add to Chrome</li>
  <li>Log into FamilySearch, then click on “Tree” – there is a tutorial near the top of the tree, with new icons</li>
  <li>Follow the instructions to find “ancestors” AND “descendants of those ancestors” with green arrows that can then be merged with their duplicates or sourced.</li>
</ul>

<p><strong>To remove Pandora's Hope Chest</strong>, open Google Chrome.  Click on the three little horizontal parallel lines that appear in the upper right hand corner.  Select "Tools", select "Extensions", find Pandora's Hope Chest in the extensions list and either disable or trash the extension.</p>

<div class="alert alert-warning">
  Above content was extracted from <a href="https://familysearch.org/learn/wiki/en/Pandora%27s_Hope_Chest">https://familysearch.org/learn/wiki/en/Pandora%27s_Hope_Chest</a>
</div>
