<h1 class="page-header">Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
